
* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    overflow: hidden;
}

body {
    background: #ecf4fb;
    width: 100vw;
}

nav {
    box-sizing: border-box;
    background: #c9ccce;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 10vh;
    box-shadow: 3px 1px 4px 0px;
}

.gallery {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
     object-fit: cover;
}

.gallery img {
    width: 100%;
    cursor: pointer;
}

.gallery img:hover {
    border-radius: 20px;
    box-shadow: 3px 1px 4px 0px;
}

.full-img {
    width: 10000px;
    height: 10000px;
    background: rgba(0, 0, 0, 9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.full-img img {
    width: 100%;
    max-width: 1000px;
}

.full-img span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}